.main-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 100%;
    background-color: #6a62d2;
    color: white;
    border-bottom: 1px solid;
}

.routes-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 20px;
    align-items: center;
}

.nav-route {
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.nav-route:hover {
    font-size: 18px;
    font-weight: bold;
}

.title-name {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.auth-button-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px;
    align-items: center;
}
